@{
    ViewData["Title"] = "About Me";
}
<br />
<div align="center">
    <h1>Hi 👋, I'm Serge-Thomas Mughemuzi</h1>
    <h3>A passionate full-stack software developer</h3>
    <br />
    <img src="~/images/jjk-bow.png" width="450"/>
    <br />
    <p>I like anime and coding</p>
    <p>Check out my Github <a href="https://github.com/SergeThomas">here</a></p>
</div>
