@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage your Daily Tasks Simply with this App!</p>
    <img src="images/thank-you-bow.gif"></img>
</div>
