@model TaskMan

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Task</h2>
            <hr />
        </div>
        <div class="mb-3" >
            <label asp-for="AssignedUser">User Name</label>
            <input asp-for="AssignedUser" class="form-control" />
            <span asp-validation-for="AssignedUser" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TaskDetails"></label>
            <input asp-for="TaskDetails" class="form-control" />
            <span asp-validation-for="TaskDetails" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DueDate"></label>
            <input asp-for="DueDate" class="form-control" type="date"/>
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Add Task</button>
        <a asp-controller="Task" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>